<div class="page-header">
  <h1>Reporte de incidencias.</h1>
</div>

<table id="tablaIncidencias" class="display" width="100%" cellspacing="0">
  <thead>
      <tr>
          <th>Incidencia</th>
          <th>Acumulados en intervalo</th>
          <th>Acumulados ultima hora</th>
          <th>Acumulados dia</th>
          <th>Intervalo de tiempo(ms)</th>
          <th>Maximo umbral para alerta</th>
          <th>Tipo de busqueda</th>
          <th>Hora ultimo error</th>
          <th>Destinatarios alertas</th>
      </tr>
  </thead>
</table>

