<div class="page-header">
  <h1>Reporte de tiempos de respuesta.</h1>
</div>

<h3 align="center" onclick="muestraTabla5minutos()">ultimos 5 minutos</h3>
<div id="peticiones5minutos" >
<table id="tabla5Minutos" class="display" width="100%" cellspacing="0">
    <thead>
      
        <tr>
            <th>Region</th>
    <th>numero de peticiones</th>
    <th> menor a 1 segundo </th>
    <th> entre 1 y 5 segundos</th>
    <th> entre 5 y 10 segundos</th>
    <th> entre 10 y 20 segundos</th>
    <th> entre 20 y 30 segundos</th>
    <th> entre 30 y 40 segundos</th>
    <th> entre 40 y 50 segundos</th>
    <th> entre 50 y 60 segundos</th>
    <th> mayor a un minuto</th>
        </tr>
    </thead>
</table>
</div>

<h3 align="center" onclick="funcionTest()">ultima hora</h3>
<div id="peticionesUltimaHora" >
<table id="ultimaHora" class="display" width="100%" cellspacing="0">
    <thead>
      
        <tr>
            <th>Region</th>
    <th>numero de peticiones</th>
    <th> menor a 1 segundo </th>
    <th> entre 1 y 5 segundos</th>
    <th> entre 5 y 10 segundos</th>
    <th> entre 10 y 20 segundos</th>
    <th> entre 20 y 30 segundos</th>
    <th> entre 30 y 40 segundos</th>
    <th> entre 40 y 50 segundos</th>
    <th> entre 50 y 60 segundos</th>
    <th> mayor a un minuto</th>
        </tr>
    </thead>
</table>
</div>

<!-- 

<h3 align="center" onclick="funcionTest()">Concentrado del dia--</h3>
<div id="peticionesDelDia" >  
<table id="dia" class="display" width="100%" cellspacing="0">
    <thead>
      
        <tr>
            <th>Region</th>
    <th>numero de peticiones</th>
    <th> menor a 1 segundo </th>
    <th> entre 1 y 5 segundos</th>
    <th> entre 5 y 10 segundos</th>
    <th> entre 10 y 20 segundos</th>
    <th> entre 20 y 30 segundos</th>
    <th> entre 30 y 40 segundos</th>
    <th> entre 40 y 50 segundos</th>
    <th> entre 50 y 60 segundos</th>
    <th> mayor a un minuto</th>
        </tr>
    </thead>
</table>
</div>

-->