<div class="page-header">
  <h1>Reporte de consumo de servicios. </h1>
</div>

<table id="tablaServicios" class="display" width="100%" cellspacing="0">
  <thead>
      <tr>
          <th onclick="ordenaReporte(0);">Servicio</th>
          <th onclick="ordenaReporte(1);">Clave</th>
          <th onclick="ordenaReporte(2);">peticiones por minuto</th>
          <th onclick="ordenaReporte(3);">peticiones ultima hora</th>
          <th onclick="ordenaReporte(4);">peticiones en el dia</th>
      </tr>
  </thead>
</table>