<div class="container theme-showcase" role="main">

<div class="page-header">
  <h1>Mis Solicitudes</h1>
  <p>En esta sección se muestran las solicitudes de Ambiente generadas por el usuario, si es JEFE o SUPERVISOR, podrá ACEPTAR O RECHAZAR solicitudes de sus equipos de trabajo. 
  </p>
</div>

<div class="row">
    <div  class="col-md-6" style="padding-bottom: 20px;">    
        <label>Seleccione el tipo de solicitudes.</label><br/>
        <p-selectButton [options]="opcionesSolicitud" [(ngModel)]="selectOption"
        (onChange)="consultarSolicitudes()"></p-selectButton>
    </div>     
</div>

<div *ngIf="permiso == 'CP'" >
    <app-listadoSolicitudesCP></app-listadoSolicitudesCP>
</div>    
<div *ngIf="permiso == 'SP'" >
     <app-listadoSolicitudesSP></app-listadoSolicitudesSP>     
</div>

</div>