<div class="page-header">
  <h1>Reporte de instancias.</h1>
</div>

<table id="tablaInstancias" class="display" width="100%" cellspacing="0">
  <thead>
      <tr>
          <th onclick="ordenaReporte(0);">Instancia</th>
          <th onclick="ordenaReporte(1);">Tiempo conexion (ms)</th>
          <th onclick="ordenaReporte(2);">Read Time (ms)</th>
          <th onclick="ordenaReporte(3);">Status</th>
          <th onclick="ordenaReporte(4);">Descripcion</th>
          <th onclick="ordenaReporte(5);">Invocaciones exitosas</th>
          <th onclick="ordenaReporte(6);">Invocaciones con error</th>
          <th onclick="ordenaReporte(6);">Hora ultimo exito</th>
          <th onclick="ordenaReporte(6);">Hora ultimo error</th>
      </tr>
  </thead>
</table>
