<!-- main app container -->
<div class="container body" style="width:100%; height: 100%; padding:0;">
    <div class="main_container">
        <app-menu></app-menu>

        <!-- page content -->
        <div class="right_col" role="main">
            <router-outlet></router-outlet>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">

            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
